body
{
    background: 
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),
        url("../images/5.jpg");
        background-size: cover;
}
#navbar
{
    color: white;
    font-style: italic;
}
#titleContainer
{
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    
}
#input1
{
    background-color: rgb(115, 170, 170);
    border: 2px;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
}
#courseSelect
{
    font-weight: 400;
    padding-left: 40%;
    color: white;
}
#dateSelect
{
    font-weight: 400;
    padding-left: 40%;
}
#submitButton
{
    padding-left: 80px;
    padding-right: 80px;
    align-items: flex-end;
}
#submitArea
{
    padding-left: 425px;
    padding-top: 50px;
}
#mainContent
{
    padding: 50px;
}
#dateSelect
{
    color: white;
}